body {
    font-family: "roboto";
    padding-left: 0px;
    margin: 0px;
    border: 0px;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 8px;
    padding-left: 40px;
    padding-right: 40px;
}

.header .left {
 color:rgb(255, 255, 255);
}

.header .right {
    color:rgb(99, 99, 99);
    display: flex;
    gap: 30px;
}

.body-1 {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color:rgb(255, 255, 255);
    padding-top: 50px;
    padding-bottom: 50px;
} 

.body-1 .left{
    display: flex;
    flex-direction: column;
}


.body-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.body-2 .title {
    color: black;
    margin: 30px;
    font-size: 25px;
}

.body-2 .information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

.body-2 img {
    height: 100px;
    width: 100px;
    border: 2px solid #3882F6;
    border-radius: 25px;
}

.body-3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.body-3 .quote {
    display: flex;
    justify-content: center;
}

.body-3 .source {
    display: flex;
    justify-content: center;
}