body {
    font-family: 'Roboto', sans-serif;
    padding-left: 0px;
    margin: 0px;
    border: 0px;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 10px;
    padding-right: 10%;
    padding-left: 10%;
}

.header .left {
    color:rgb(255, 255, 255);
    font-size: 24px;
}

.header .right {
    color:rgb(99, 99, 99);
    display: flex;
    font-size: 18px;
    gap: 30px;
}

.header a{
    color: inherit;
    text-decoration: inherit;
}

.body-1 {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color:rgb(255, 255, 255);

    padding-right: 10%;
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;

    gap: 20px;
} 

.body-1 .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.body-1 .left .title {
    font-size: 48px;
    font-weight: 800;
}

.body-1 .left .subtext {
    font-size: 18px;
}

.body-1 .left button {
    align-self: flex-start;
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}


.body-2 {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding-right: 10%;
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.body-2 .title {
    color: black;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 30px;
}

.body-2 .information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

.body-2 img {
    height: 100px;
    width: 100px;
    border: 2px solid #3882F6;
    border-radius: 25px;
}

.body-2 .information .info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.body-3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 30px;
}

.body-3 .quote {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    color: #1F2937;
    font-size: 26px;
    font-style: italic;
    font-weight: 300;

}

.body-3 .source {
    display: flex;
    justify-content: flex-end;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    color: #1F2937;
    font-weight: 700;

}

.body-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 60px;
}

.body-4 .box {
    background-color: #3882F6;
    display: flex;
    padding: 50px;
    gap: 30px;
    border-radius: 25px;
    color: white;
}

.body-4 .box .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-4 .box .left .title {
    font-size: 20px;
    font-weight: 800;
}

.body-4 .box .left .subtext {
    color: rgb(228, 228, 228);
}

.body-4 .box .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-4 .box .right button {
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1F2937;
    color: rgb(151, 151, 151);
}